body {
    padding: 0;
    margin: 0;
}

* {
    font-family: monospace;
}

a {
    color: #33cc33;
}

.overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    pointer-events: none
}

.game {
    display: block;
    position: absolute;
    left: 61px;
    top: 183px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.console {
    display: block;
    position: absolute;
    left: 1137px;
    top: 105px;
    width: 720px;
    height: 425px;
    z-index: 2;
    background-color: black;
    color: #33cc33;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.console * {
    word-break: break-all;
    white-space: pre-wrap
}

.console::-webkit-scrollbar {
    width: 12px;
}

.console::-webkit-scrollbar-track {
    background: black;
}

.console::-webkit-scrollbar-thumb {
    background: #33cc33;
}

.console::-webkit-scrollbar-button {
    background: black;
    height: 4px;
}

.console *::selection {
    background: rgba(51, 204, 51, 0.998);
    color: black;
}

.header {
    position: absolute;
    background-color: #33cc33;
    display: block;
    left: 1137px;
    top: 75px;
    width: 720px;
    height: 30px;
    z-index: 3;
}

.header p {
    font-size: 20px;
    line-height: 30px;
    margin: 0 10px;
    user-select: none;
}

.input {
    display: block;
    position: absolute;
    left: 1137px;
    top: 530px;
    height: 25px;
    width: 720px;
    z-index: 3;
    padding-left: 8px;
    color: #33cc33;
    background-color: black;
    border: solid 2px #33cc33;
    box-sizing: border-box;
    font-size: 20px;
}

.input:focus {
    outline: none !important;
}

.input::selection {
    background: rgba(51, 204, 51, 0.998);
    color: black;
}